{% extends 'backend/base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs({separator: '', listClass: "breadcrumb margin-top-20"}) }}
        </div>
    </div>
        
    {{ actions(entityCode, 'history', entity) }}

    <div class="row">
        <div class="col-lg-12">

            {% if entity.object.name is defined %}
                <h1>{{ entity.object.name|lower|capitalize|trans({}, "global") }}</h1>
            {% else %}
                <h1></h1>
            {% endif %}
            <table class="table table-hover table-striped" id="entities-list">
                <thead>
                    <tr>
                        {% for field in histories.fields %}
                            <th>{{ histories.titles[field]|trans({}, "backend") }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for idx, history in histories.entities %}
                    <tr>
                        {% for field in histories.fields %}
                            {% if histories.dataTypes[field] == 'string' %}
                                <td>{{ history[field]|raw }}</td>
                            {% elseif histories.dataTypes[field] == 'array' %}
                                <td>
                                    {% if history[field] is iterable %}
                                        {{ history[field]|join(', ') }}
                                    {% endif %}
                                </td>
                            {% elseif histories.dataTypes[field] == 'datetime' %}
                                <td>{{ history[field]|date(format_datetime) }}</td>
                            {% else %}
                                <td>{{ history[field]}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#entities-list').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                }
            });
            $('.btn-group').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            })
            {#$('#entities-actions').affix({
                offset: {
                  top: 0
                }
            })#}
        } );
    </script>
{% endblock javascripts %}
