{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>News list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Shortcontent</th>
                <th>Content</th>
                <th>Hidden</th>
                <th>Disabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('backend_content_entry_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                <td>{{ news.title }}</td>
                <td>{{ news.shortContent }}</td>
                <td>{{ news.content }}</td>
                <td>{% if news.hidden %}Yes{% else %}No{% endif %}</td>
                <td>{% if news.disabled %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('backend_content_entry_show', { 'id': news.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('backend_content_entry_edit', { 'id': news.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_content_entry_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
