{% extends 'backend/base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs({separator: '', listClass: "breadcrumb margin-top-20"}) }}                  
        </div>
    </div>
        
    {{ actions(entityCode, 'new') }}
                    
    <div class="row">
        <div class="col-lg-12">
            
            <h1>{{ 'Creating'|trans({}, "backend") }}</h1>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'entity-form new-form'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '../app/Resources/public/backend/css/common.css' 
                   '../app/Resources/public/backend/css/entities.css' 
      filter='cssrewrite' output="css/compiled/backend.css" %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}


{% block javascripts %}
    {% javascripts '../app/Resources/public/backend/js/entities.js' 
      filter='cssrewrite' output="css/compiled/backend.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(".wysiwyg").summernote();
        });
        $(".save-form").click(function() {
            $('.entity-form').submit();
        });
        
        
        
        var $module = $('#navigation_item_module');
        // When sport gets selected ...
        $module.change(function() {
          // ... retrieve the corresponding form.
          var $form = $(this).closest('form');
          // Simulate form data, but only include the selected sport value.
          var data = {};
          data[$module.attr('name')] = $module.val();
          // Submit data via AJAX to the form's action path.
          $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                window.console.log($(html).find('#navigation_item_modulePage'));
              // Replace current position field ...
              $('#navigation_item_modulePage').replaceWith(
                // ... with the returned one from the AJAX response.
                $(html).find('#navigation_item_modulePage')
              );
              // Position field now displays the appropriate positions.
            }
          });
        });
        
        
        
        
    </script>
{% endblock javascripts %}