{% extends 'backend/base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs({separator: '', listClass: "breadcrumb margin-top-20"}) }}                  
        </div>
    </div>
        
    {{ actions(entityCode, 'new') }}
                    
    <div class="row">
        <div class="col-lg-12">
            
            <h1>{{ 'Creating'|trans({}, "backend") }}</h1>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'entity-form new-form'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '../app/Resources/public/backend/css/common.css' 
                   '../app/Resources/public/backend/css/entities.css' 
      filter='cssrewrite' output="css/compiled/backend.css" %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}


{% block javascripts %}
    {% javascripts '../app/Resources/public/backend/js/entities.js' 
      filter='cssrewrite' output="css/compiled/backend.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(".wysiwyg").summernote();
        });
        $(".save-form").click(function() {
            $('.entity-form').submit();
        });
        
        
        // получаем страницы модуля
        $('#navigation_item_content').change(function() {
            $.ajax({
                url : Routing.generate('backend_api', { entityCode: 'content_page', format: 'json' }) + '?param[entityCode]=' + $('#navigation_item_content :selected').val(),
                type: 'json',
                success: function(json) {
                    $('#navigation_item_contentPage').empty();
                    $.each(json, function(i, value) {
                        $('#navigation_item_contentPage').append($('<option>').text(value.title).attr('value', value.id).attr('data-routePath', value.routePath));
                    });
                    // получаем дефолтные маршруты
                    $('#navigation_item_contentPage').change();
                }
            });
        });
        // получаем дефолтные страницы модуля
        $('#navigation_item_content').change();

        // получаем маршруты, если выбран просмотр
        $('#navigation_item_contentPage').change(function() {
            if('__content__' !== $('#navigation_item_contentPage :selected').attr('data-routePath'))
            {
                $.ajax({
                    url : Routing.generate('backend_api', { entityCode: 'route', format: 'json' }) + 
                            '?param[routePath]='+$('#navigation_item_contentPage :selected').attr('data-routePath')+
                            '&param[entityCode]=' + $('#navigation_item_content :selected').val()+
                            '&param[actionType]=show',
                    type: 'json',
                    success: function(json) {
                        $('#navigation_item_route').empty();
                        $.each(json, function(i, value) {
                            $('#navigation_item_route').append($('<option>').text(value.routePath).attr('value', value.id));
                        });
                    }
                });
                
                return;
            }
            
            $('#navigation_item_route').attr('disabled', false);
            
            $.ajax({
                url : Routing.generate('backend_api_routes', { entityCode: 'route', format: 'json' }) + 
                        '?param[entityCode]=' + $('#navigation_item_content :selected').val()+
                        '&param[actionType]=show',
                type: 'json',
                success: function(json) {
                    $('#navigation_item_route').empty();
                    $.each(json, function(i, value) {
                        $('#navigation_item_route').append($('<option>').text(value.title).attr('value', value.id));
                    });
                }
            });
        });
        
    </script>
{% endblock javascripts %}