{% extends 'backend/base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs({separator: '', listClass: "breadcrumb margin-top-20"}) }}                  
        </div>
    </div>
        
    {{ actions(entityCode, 'show', entity) }}
    
    {% include 'backend/flash_messages.html.twig' %}
            
    <div class="row">
        <div class="col-lg-12">

        <h1>{{ 'Viewing'|trans({}, "backend") }}</h1>

        <table class="table table-hover table-striped">
            <tbody>
                {% for field in annotations.fields %}
                    <tr>
                        <th>{{annotations.titles[field]|trans({}, "backend")}}</th>
                        <td>
                            {% if annotations.dataTypes[field] == 'string' %}
                                <td>{{annotations.entity[field]|raw }}</td>
                            {% elseif annotations.dataTypes[field] == 'array' %}
                                <td>
                                    {% if annotations.entity[field] is iterable %}
                                        {{ annotations.entity[field]|join(', ') }}
                                    {% endif %}    
                                </td>
                            {% elseif annotations.dataTypes[field] == 'boolean' %}
                                <td>
                                    {% if annotations.entity[field] == 1 %}
                                        <i class="fa fa-check-square-o"></i>
                                    {% else %}
                                        <i class="fa fa-square-o"></i>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ annotations.entity[field] }}</td>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {% stylesheets '../app/Resources/public/backend/css/common.css' 
                   '../app/Resources/public/backend/css/entities.css' 
      filter='cssrewrite' output="css/compiled/backend.css" %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}


{% block javascripts %}
    <script>
        $(document).ready(function() {
            $(".wysiwyg").summernote();
        });
        $(".delete").click(function() {
            if(confirm("{{ 'Are you sure?'|trans({}, "backend") }}")) {
                return true;
            }
            return false;
        });
    </script>
{% endblock javascripts %}