{% extends 'backend/base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            {{ wo_render_breadcrumbs({separator: '', listClass: "breadcrumb margin-top-20"}) }}                  
        </div>
    </div>
        
    {{ actions(entityCode, 'new') }}
                    
    <div class="row">
        <div class="col-lg-12">
            
            <h1>{{ 'Creating'|trans({}, "backend") }}</h1>

            {{ form_start(form, {'attr': {'class': 'entity-form new-form'}}) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.media) }}
                {{ form_row(form.inPreview) }}
                {{ form_row(form.inFilters) }}
                {{ form_row(form.productType) }}
                {{ form_row(form.entryStatus) }}
                {{ form_row(form.dataType) }}
                {{ form_row(form.viewType) }}
                
                <h3>Values</h3>
                <ul class="values" data-prototype="{{ form_widget(form.values.vars.prototype)|e('html_attr') }}">
                    {% for value in form.values %}
                        <li>{{ form_row(value) }}</li>
                    {% endfor %}
                </ul>
                
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '../app/Resources/public/backend/css/common.css' 
                   '../app/Resources/public/backend/css/entities.css' 
      filter='cssrewrite' output="css/compiled/backend.css" %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock stylesheets %}


{% block javascripts %}
    {% javascripts output="css/compiled/backend.js"
       '../app/Resources/public/backend/js/entities.js'
       '../app/Resources/public/backend/js/modules/shop/attribute.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}