<div class="row">
    <div class="col-lg-12">
        <div id="entities-actions" style="z-index: 10;">
            <ul>
                <li>
                    <a href="{{ path('backend_content_entry', {'entityCode': entityCode}) }}" class="btn btn-default">{{ 'Back to the list'|trans({}, "backend") }}</a>
                </li>
                <li>
                    <a href="#"  class="btn btn-success save-form">{{ 'Save'|trans({}, "backend") }}</a>
                </li>
                <li>
                    <a href="{{ path('backend_content_entry_delete_soft', { 'entityCode': entityCode, 'id': entity.id }) }}" class="btn btn-danger delete">{{ 'Delete'|trans({}, "backend") }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>